.ContainerSpoter{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #111111;
}
.PlayField{
  height: 410px;
  width: 625px;
  display: flex;
  flex-direction: column;

}
.Player{
  height: 360px;
  width: 625px;
  position: absolute;
  right: 640px;
  top: 170px;
}
.Toggle{
  position: absolute;
  left:21px;
  top: 545px;
  height: 40px;
  width: 155px;
}
.BackGrount{
  background-color: #111111;
  height: 100vh;
  width: 100%;
}