.Situations {
    display: flex;
    flex-direction: row;
    height: 72px;
}
.SitTitle {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 8px;
}
.StartSitProp {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 200;
    margin-top: 0px;
}
.EndSitProp {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 200;
    margin-top: 0px;
}
.StartSit{
    margin-left: 25px;
}
.EndSit{
     margin-left: 60px;
}