
.LinkStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 68px;
  width: 350px;
}
.Link{
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto';
    letter-spacing: 1px;
    font-size: 18px;
}
.Link:visited {
    color: white;
}
