.LinkStyle{
  display: "flex";
  align-items: "center";
  justify-content: "space-between";
  height: 68px;
  width: 350px;
}
.Link{
    text-decoration: none;
    cursor: pointer;
    color: "white";
    font-family: 'tahoma';
    letter-spacing: 1px;
    color: "white";
}
.Link:visited {
    color: #FFCF00;
}
