.teams {
    display: flex;
    justify-content: center;
    height: 130;
  }
.teamA {
    flex: 1;
    display: flex;
    justify-content: center;
  }
.teamB {
    flex: 1;
    display: flex;
    justify-content: center;
  }
.TeamName {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: "Roboto";
    padding: 5px;
    min-width: 350px;
    max-width: 450px;
    height: 40px;
    font-size: 20px;
  }
  .TeamStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: "Roboto";
    padding: 5px;
    min-width: 350px;
    max-width: 450px;
    height: 30px;
    font-size: 18px;
  }
.AtStyle {
    align-items: center;
    display: flex;
    font-family: Impact;
    font-size: 35;
  }
.Avatar{
    min-width: 85px;
    max-width:115px;
    min-height: 85px;
    max-height: 115px;
    margin-top: 5;
    
  }
.PaperStyle {
    min-height: 150px;
    max-height: 250px;
    max-width: 550px;
    min-width: 250px;
    margin: 10px;
    padding:15px
    
  }